@charset "UTF-8";

/* UNIVERSAL */
body {
	padding: 5px;
}

.page-wrap {
	/* margin: 0 80px; */
	max-width: 80%;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	box-shadow: 1px 1px 3px #000A;
}

.clear-float {
	clear: both;
}

/* NAVIGATION */
nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

/* PROFILE */
.profile {
	float: right;
}

.profile img, .profile p {
	margin: 0;
}

span.point-balance {
	margin-bottom: 10px;
	padding: 3px 10px;
	text-align: right;
	float: right; 
}

/* SHOPPING CART */
.cart {
	float: right;
	margin-bottom: 10px;
}

.cart-container {
	
}

.cart img, .cart p {
	margin: 0;
}

.cart button {
	background-color: transparent;
	border: 2px solid transparent;
	padding: 5px;
	position: relative;
}

.cart button:hover {
	
	/* color */
	background-color: #EEEB;
	
	/* border */
	border: 2px solid #CF9A08;
	border-radius: 10px;
	
	/* glow */
	box-shadow: 0 0 15px -5px #CF9A0856;
	
	/* transitions */
	transition: border 500ms, box-shadow 400ms;
}

#cart-item-count {
	position: absolute;
	top: 15px;
	right: 15px;
}

/* weapons */
#weapons-container {
	/* flexbox options */
	display: flex;
	flex-wrap: wrap;
	
	width: 100%;
	margin: 15px auto;
}

.card {
	display: inline-block;
	width: 250px;
	margin-right: 15px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 3px -3px #000A;
	
	/* transitions */
	transition: outline 0.05s linear;
	-moz-transition: outline 0.05s linear;
	-o-transition: outline 0.05s linear;
	-webkit-transition: outline 0.05s linear;
}

.card:hover {
	outline: 2px solid #CF9A08;
	-moz-outline-radius: 5px;
}

.weapon-body {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 35px;
	grid-gap: 1px;
}

.weapon-lbl,
.weapon-val {
	/* border-bottom: 1px solid #49E; */
}

.weapon-desc {
	grid-column: 1 / span 2;
	margin-right: 3px;
	text-align: left;	
}

.weapon-lbl {
	margin-right: 3px;
}

.weapon-val {
	
}

.in-cart {
	outline: 2px solid #CF9A08;
}

/* SHOPPING CART */
.cart-item-form {
	grid-column: 2;
	height: 35px;
}
.add-to-cart-btn {
	position: absolute;
	right: 15px;
}
#shopping-cart-tbl {
	
}
#shopping-cart-tbl tbody tr td:nth-child(2),
#shopping-cart-tbl thead tr th:nth-child(2)
{
	text-align: center;
}

#shopping-cart-tbl tbody tr td:nth-child(3),
#shopping-cart-tbl thead tr th:nth-child(3)
{
	text-align: right;
}

#shopping-cart-tbl tfoot tr td:nth-child(2),
#shopping-cart-tbl tfoot tr td:nth-child(3)
{
	text-align: right;
}

#shopping-cart-tbl tfoot {
	color: #ffc107;
}

#shopping-cart-tbl tfoot p {
	margin-bottom: 0;
}

.delete-btn {
	cursor: pointer;
	opacity: 0.33;
	visibility: visible;
}

.delete-btn:hover {
	opacity: 1;
}

#checkout-btn {
	width: 125px;
	padding: 15px;
	border: 4px solid transparent;
	float: right;
}

#checkout-btn:hover {
	color: #ffc107;
	border: 4px solid #FFF;
	box-shadow: 0 0 15px -2px #ffc107; 
}

/* LOGIN PAGE */
.login-container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: repeat(2, 25px);
	grid-gap: 10px;
	width: 300px;
}

.username-lbl {
	grid-column: 1;
	grid-row: 1;
}

.username-txtbox {
	grid-column: 2 / 4;
	grid-row: 1;	
}

.password-lbl {
	grid-column: 1;
	grid-row: 2;	
}

.password-txtbox {
	grid-column: 2 / 4;
	grid-row: 2;	
}

.login-button {
	grid-column: 2 / span 2;
	grid-row: 3;
	margin-top: 10px;
}

/* ICONS & IMAGAES */
.icon-column {
	width: 30px;
}
.interactive-icon {
	cursor: pointer;
}
