/* REGISTRATION PAGE */
#registration-form {
	width: 410px;
}

#registration-container {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 75px auto;
	grid-gap: 10px;
}

.form-section-heading {
	
}

.form-lbl {
	align-self: end;
	margin-bottom: -9px;
}

.form-ctl {
	align-self: start;
}

/* Login Information */
#lbl-username {
	grid-column: 1;
	grid-row: 1;
}

#txt-username {
	grid-column: 2;
	grid-row: 1;
}

#btn-register {
	grid-column: 1 / span 2;
	grid-row: 2;
	height: 35px;
/* 	margin-top: 10px; */
}